<form class="form-horizontal" *ngIf="show_form == true">
  <fieldset>
    <legend>Flight API search</legend>
    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">Origin</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputEmail" placeholder="SFO" name="origin" [(ngModel)]="info.request.slice[0].origin">
      </div>
    </div>
    <div class="form-group">
      <label for="" class="col-lg-2 control-label">Destination</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="destination" placeholder="ORD" name="destination" [(ngModel)]="info.request.slice[0].destination">
      </div>
    </div>
    <div class="form-group">
      <label for="" class="col-lg-2 control-label">Date: Input date like this: YYY-MM-DD</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="date" placeholder="YYYY-MM-DD" name="date" [(ngModel)]="info.request.slice[0].date">
      </div>
    </div>
    
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary" [class.buttonLoad]="loadButton" (click)="makeAPICall()">
          <p *ngIf="loadButton == false" class="notLoaded">Submit</p>
          <i [class.fa]="loadButton" [class.fa-refresh]="loadButton" [class.fa-spin]="loadButton"></i><p *ngIf="loadButton == true">Loading</p>
        </button>
      </div>
    </div>
  </fieldset>
</form>


<app-results (goHomeClicked)="closeResultsPage($event)" [flightData]="flight_info" *ngIf="show_results == true">loading... </app-results>

